@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$blue-color: #3157BE;
$main-blue: #0645F0;
$dark-blue: rgb(0, 35, 131);
$white-color: #fff;
$black: #000;
$sub-ash: #676767;

// GRID
$grid-width: 100%;
$gutter-vertical: 3rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal2: 3rem;


//fonts
$poppins: 'Poppins', sans-serif;

//font-weight
$light: 200;
