.article-title {
   width: 99.5%;
   min-height: 35px;
   border: none;
   background-color: white;
   color: #404040;
   font-size: 25px;
   margin: auto; 
   margin-bottom: 4px;
   overflow-y:hidden; 
   font-size: 34px;
   resize: none;
   font-weight: bold;
   font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

.article-title:focus{
  outline:none;
}
.main-editor {
  font-weight: 100 !important;
  width: 99.5%;
   border: none;
   background-color:#fff;
   font-size: 25px;
   margin: auto; 
   margin-bottom: 4px;
   padding-top: 0;
   min-height: 50vh;
   font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
   
}

.main-editor span {
  font-weight: normal;
  font-family: medium content serif;
  overflow: visible;
  overflow: auto;
}
.tag-input-field-class {
  height: 25px;
  color:#383838;
  font-size: 18px;
  width: 29.5%;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 5px;
  border-left: none;
  border-top: none;
  margin-top: 10px;
  font-family: medium content serif;
}

.tag-input-field-class:focus {
  outline:none;
}

.editor-toolbar {
  background-color: #d3d3d3 !important;
  border-radius: 5px !important;
   display: flex;
   justify-content: center !important;
   flex-flow: row wrap !important;
   margin-bottom: 0;
   color: gray;
}

.tagClass {
  background:#d3d3d3;
  margin-right: 5px;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 2px;
  cursor: pointer;
  padding: 0 0 0 5px;
  font-size: 18px;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  color: #505050;
}

.tagClass:hover  {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.removeClass {
  background: #635f5f;
  height:100%;
  color: rgb(238, 95, 95);
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 5px;
  width: 10px;
}

button.article-button {
  width: 100px; 
  height: 25px; 
  float: right;
  border-radius: 5px;
   color: #0645F0;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #0645F0;
  margin-left: 6px;
  margin-top: 10px;
}

button.article-button:focus {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  outline: none;
  
}
.article-button:hover{
  background: #0645F0;
  color: white;
}

.create-article-wrapper {
  width: 70%;
  margin: auto;
}

.publish-wrapper {
  height: 50px;
}