body{
    margin: 0;
    padding: 0;
  }
  #nav{
    width: 100vw;
    height: 90px;
    background-color: lightgrey;
    padding: 10px 5px;
  }
  #nav>h1{
    margin: 0;
  }
  #main{
    text-align: center;
    margin-top: 100px;
  }
  #main>h1{
    font-size: 50px;
    margin-bottom: 40px;
  }
  p{
    font-size: 17px;
  }
  span{
    font-weight: bold;
  }