.form {

  &Input{
    font-family: inherit;
    font-weight: 100 !important;
  }
  
  }

  .field input {
    color: $sub-ash !important;
    font-size: 1rem;
    font-weight: 200!important;
    border: 1px solid rgba(49, 87, 190, 0.322) !important;
    box-shadow: 0px .1rem .5rem .1rem rgba(63, 81, 129, 0.041) !important;
  }
