.profile-container {
  width: 90%;
  margin: 0 auto;
}
.profile {
  padding: 10%;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  img {
    width: 15rem !important;
    height: 15rem !important;
    transform: scale(0.9);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.705);
  }
  &-username {
    margin-top: -1px !important;
    word-wrap: break-word !important;
  }
}

.profile-article{
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: 0px 0.5px 5px rgba(102, 102, 102, 0.2);
  border: 0px solid transparent !important;
 

  .ui.segment {
    position: relative;
   box-shadow: none !important;
  margin: 1rem 0;
  padding: 0em 0em !important;
  border-radius: .28571429rem;
   border: 0px transparent !important;
}


  &-wrapper {
    width: 100%;
  }

  &-readtime {
    color: grey !important;
    margin-top: 2px !important;
  }
  &-user {
    &-name {
      margin-top: 8px !important;
      color: rgb(0, 0, 0) !important;
      font-size: 1.2rem !important;
      font-weight: bold !important;
      display: inline-block;
    }
    &-image {
      display: inline-block;
      margin-top: 7.5px !important;
      width: 3.5rem !important;
      height: 3.5rem !important
    }
  }
}

.tab-wrapper {
  margin-top: 5rem;
}

.tabs *.ui.segment.active.tab {
  padding: 0rem !important;
  padding-right: 1rem !important;

  margin-top: 2rem;
  margin-bottom: 2rem !important;
  border: 0px solid transparent !important;
  box-shadow: none !important;

}

.d-flex {
  display: flex;
  margin-top: 1rem;
}
.justify-content-between {
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}

.detail-container {
  width: 100%;
  display: grid;
  padding: 1em;
  grid-auto-flow: column;

  & > * {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  & > .article-hypes {
    justify-content: flex-end;
  }
}
