@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lora');
@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/base";
@import "base/utilities";
@import "./components/profile-user-card";
@import "./components/button";
@import "./components/authTab";
@import "./components/form";
@import "./pages/verify";
@import url('./pages/article.scss');
@import "./components/title-container.scss";
@import "./components/upgrade-container.scss";
@import "./components/footer-container.scss";
@import "./components/side-menu.scss";
@import "./components/category-menu.scss";
@import "./components/profile-container.scss";
@import "./components/comment-container.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "./components/article-preview.scss";
@import './pages/create-article';
@import url('./pages/article.scss');
